.main_title {
  margin-bottom: 0 0 40px 0;
  font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 77%;
}

.logo, .menu {
  display: inline-block;
}

header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 206px;
}

.logo{
  width: 190px;
  height: 35px;
  background: url(img/logo.svg);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:after {
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
  transform: scale(1.2);
  transition: .5s;
}

.menu__item:hover:after,
.menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainimg.svg);
}

.main_subtitle {
  margin-bottom: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  padding: 18px 21px;
  color: #fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.main__title-text_highlight {
  background: #ECF3FF;
}