.main-content__title {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  border: dashed 1px red;
}
.wrapper {
  margin: auto;
  width: 77%;
  border: dashed 1px red;
}
.logo, .menu {
  display: inline-block;
  border: dashed 1px red;
}
header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 190px;
  height: 35px;
  background: url(img/logo.svg);
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
}
.menu__item:last-child {
  padding-right: 0;
}
.main-content__subtitle {
  font-family: pt_serif, arial, helvetica;
}